.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #33ccff 0%, #ff9999 100%);

    & #clock-display {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 10rem;
        border: 1px grey;
        border-radius: 12px;
        font-family: "Quicksand", sans-serif;
        background: black;
        color: white;

        & .time-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;


            & .clock-value {
                width: 125px;
                height: 125px;
                font-size: 5rem;
                border: 1px solid white;
                border-radius: 12px;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .clock-key {
                font-size: 1rem;
                margin-top: .5rem;
            }
        }


    }
}